h1 {
  color: rgb(250,175,150);
  font-family: Georgia;

}

.category {
  background-color: white;
  padding: 3px 0px 10px 16px;
  margin:10px 0px 10px 0px;
  border-radius: 15px;
}

.list li code{
  font-family: Courier monospace;
  padding: 2px 50px 1px 15px;
  background-color:#eeeeee;
  border-radius: 8px;
}
