
.profile {
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15px;
    border-radius: 5px;
}

.identification {
    background-color: #757575;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.profilePicture {
    padding-top: 10px;
    padding-left: 10px;
}

.additional {
    margin-left: 10px;
}

#username {
    font-size: 34px;
    font-color: #e2c5ff;
}

#fullName {
    color: black;
}

